modules/extensions-spring-support/src/test/resources/oauth-extension-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test-oauth="http://www.mulesoft.org/schema/mule/test-oauth"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test-oauth http://www.mulesoft.org/schema/mule/test-oauth/current/mule-test-oauth.xsd">


    <test-oauth:config name="oauth">
        <test-oauth:connection display="PAGE" immediate="FALSE" prompt="CONSENT">
            <test-oauth:oauth-authorization-code consumerKey="${consumerkey}" consumerSecret="${consumerSecret}" authorizationUrl="${authUrl}"
                                      accessTokenUrl="${accessTokenUrl}"
            localAuthorizeHost="${localAuthHost}" localAuthorizePort="${localAuthPort}" localAuthorizePath="${localAuthPath}"
                                                 scope="${scope}"
                                                 defaultResourceOwnerId="#[ownerId]"
                                                 before="beforeFlow" after="afterFlow" />
            <test-oauth:oauth-callback-config callbackHost="${callbackHost}" callbackPort="${callbackPort}" callbackPath="${callbackPath}"/>
        </test-oauth:connection>
    </test-oauth:config>

    <flow name="getConnection">
        <test-oauth:get-connection />
    </flow>

    <flow name="beforeFlow">
        <logger />
    </flow>

    <flow name="afterFlow">
        <logger />
    </flow>
</mule>
